*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../img/background.jpg) no-repeat center;
}
.container{
    width: 35%;
    height: 500px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;  
    position: absolute ;
    right: 0;
}
.icons img{
    width: 30px;
    opacity: .6;
    transition: .3s;
}
.box_item img{
    width: 100%;
    height: 500px;
}
.icons img:hover{
    opacity: 1;
}
.box_item{
    width: 50%;
    height: 500px;
    position: absolute;
    z-index: 1;
    transition: .3s;
}
.box_item:last-child{
    right: 0;
}
.container:hover .box_item:last-child{
    width: 37%;
    right: 70px;
}